# resource.config file

[groups]

main =
    scripts/modules/ckanpackager-download-link.js
    scripts/modules/ckanpackager-download-list.js

    scripts/modules/ckanpackager-dl-checkbox.js
    scripts/modules/ckanpackager-dl-package.js
    scripts/modules/filetreeview.js

    css/ckanpackager.css
    vendor/glyphicon/css/bootstrap-glyphicons.css

    scripts/cubric_utils.js
    scripts/d3.v3.js
    scripts/treelist.js
    scripts/do_tree.js