{# The order of the resource and ckan_extends doesn't seem to matter in this template #}

{% resource 'ckanext-ckanpackager/main' %}

{% ckan_extends %}

{% block form %}
  {{ super() }}
  <div class="search-form" style="display: inline-flex; width: 100%; justify-content: space-between;">
    <div style="justify-content: flex-start">
      <p class="">{{ _("Select All") }}</p>
    </div>
    <div style="justify-content: flex-end;">
      <input type="checkbox" checked data-module="ckanpackager-dl-package" data-module-check-type="all">
    </div>
  </div>
{% endblock %}
