div.ckanpackager-form {
    background: #EBEBEB;
    padding: 4px;
}

.ckanpackager-align-right div.ckanpackager-form {
    border-radius: 4px 0px 4px 4px;
}

div.ckanpackager-tab{
    background: transparent;
}

div.ckanpackager-form a.btn {
    margin-right: 16px;
}

div.ckanpackager-form input {
    width: 95%;
}

div.ckanpackager-form div.options {
    text-align: left;
    vertical-align: middle;
    padding-bottom: 0;
}

div.ckanpackager-form div.options label {
    vertical-align:middle;
    font-weight: normal;
    display: inline-block;
    margin-left: 8px;
}

div.ckanpackager-form div.options label:after {
    content: "";
}

div.ckanpackager-form div.options input {
    width: auto;
    position: initial;
}

a.packager-link {
    display: block;
}

/*#085871*/

a.packager-link.packager-link-active,
a.packager-link.packager-link-active:hover {
    color: honeydew;
    cursor: default;
    display: block;
    height: 28px;
    background: cadetblue none bottom;
}

.actions li {
    vertical-align: top;
}

.selected{
    color: orange;
}
.node {
    position: absolute;
    list-style: none;
    cursor: default;
}
.node span {
    margin-right: 3px;
}

.node .caret {
    font-size: 10px;
}

.filesize {
    color: #2a6496;
}

.selected > .filesize {
    color: orangered;
}

.popover {

  /* We're reusing the .nums class from the dataset read page,
   * but we don't want the border, margin and padding, get rid of them. */
  /*border: none;*/
  margin: 0;
  /*padding: 0;*/

  /* We want the license and numbers to appear side by side, so float the
   * numbers list to the left and make it take up just over half of
   * the width of the popover. */
  float: left;
  width: 80%;
    max-width: 80%;

  /* Prevent the words in the license from being wrapped mid-word. */
  word-break: keep-all;
    max-height: 80vh;
    overflow-y: scroll;

    padding: 2em;
    border: 0.3em rgba(95,158,160,0.3) solid;
    border-radius: 0.5em
}