{# Must include this resource... #}
{% resource 'ckanext-ckanpackager/main' %}

{# ...before extending the template #}
{% ckan_extends %}


{% block notes %}
  <div style="float: right;">
    <input class="package_checkbox" type="checkbox" checked data-module="ckanpackager-dl-package" data-module-package-id="{{ package.id }}">
  </div>
  {% if notes %}
    <div>{{ notes|urlize }}</div>
  {% else %}
    <p class="empty">{{ _("This dataset has no description") }}</p>
  {% endif %}
{% endblock %}

